<form (ngSubmit)="login()"
      class="login-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="login-fields">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput
                           [formField]="loginForm.name"
                           #username>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput
                           type="password"
                           [formField]="loginForm.pass">
                </mat-form-field>
                @if (loginError()) {
                <span class="field-error center">El nombre de usuario o contraseña son incorrectos.</span>
                }
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button matButton="filled"
                    [disabled]="loading()">
                @if (!loading()) {
                Continuar
                }
                <app-loading-icon [show]="loading()" />
            </button>
        </mat-card-actions>
    </mat-card>
</form>