@use '@angular/material' as mat;

:root {
  --color-error: #dc3545;
  --color-blue: #005cbb;
  --color-white: #fff;
}

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  @include mat.toolbar-overrides((container-background-color: var(--color-blue),
      container-text-color: var(--color-white),
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.button-icon {
  width: 24px;
  vertical-align: bottom;
}

.field-error {
  display: block;
  color: var(--color-error);
}

.center {
  text-align: center;
}

.spacer {
  flex: 1;
}

.full-width {
  width: 100%;
}

.mat-toolbar {

  .mat-mdc-icon-button,
  .mat-icon,
  .material-icons {
    color: var(--color-white) !important;
  }

  svg {
    fill: var(--color-white);
  }
}